{% set number = craft.app.request.getRequiredParam('number') %}
{% set order = craft.orders().number(number).one() %}
<h6 class="text-black">Delivery Address</h6>
<p class="">
	{{ order.shippingAddress|address }}
</p>